// General
process.conda = 'environment.yml'

profiles {
    standard {
        process.executor = 'local'
	params {
		outdir = "results"
		readCount = 5
		sampleNumber = 1
		withGeneCoverage = false
	}
    }

    slurm {
        process.executor = 'slurm'
	params {
		outdir = "results"
		readCount = 5
		sampleNumber = 1
		withGeneCoverage = false
	}
    }

    test {
	params {
		input = 'examples/input.csv'
		gtf = 'examples/Homo_sapiens.GRCh38.chr18.104.gtf'
		fa = 'examples/Homo_sapiens.GRCh38.dna.chromosome.18.fa'
		readCount = 3
		withGeneCoverage = true
	}
    }
}

manifest {
	name = 'mlorthiois/annexa'
	author = 'IGDR'
	homePage = 'https://github.com/mlorthiois/annexa'
	description = 'Analysis of Nanopore with Nextflow for EXtended Annotation'
	mainScript = 'main.nf'
	nextflowVersion = '>=19.10.0'
	version = '0.0.1'
}

// Trace
dag {
    enabled = true
    file = 'trace/pipeline_dag.html'
}
trace {
  enabled = true
  file = "trace/execution_trace.txt"
}
timeline {
  enabled = true
  file = "trace/execution_timeline.html"
}
report {
  enabled = true
  file = "trace/execution_report.html"
}
