// General
process.container = "mlorthiois/annexa:1.0.0"

profiles {
  standard {
    process.executor = 'local'
    params {
      outdir = "results"
      withGeneCoverage = false
    }
  }

  slurm {
    process.executor = 'slurm'
    params {
      outdir = "results"
      withGeneCoverage = false
    }
  }

  test {
    params {
      input = "$baseDir/examples/samples.txt"
      gtf = "$baseDir/examples/annotation_19.gtf"
      fa = "$baseDir/examples/sequence_19.fa"
      withGeneCoverage = true
    }
  }

  conda {
    process.conda = "$baseDir/environment.yml"
  }

  docker {
    docker.enabled = true
    docker.runOptions = '-u \$(id -u):\$(id -g)'
  }


  singularity {
    singularity.enabled = true
    singularity.autoMounts = true
  }
}

manifest {
	name = 'mlorthiois/annexa'
	author = 'IGDR'
	homePage = 'https://github.com/mlorthiois/annexa'
	description = 'Analysis of Nanopore with Nextflow for EXtended Annotation'
	mainScript = 'main.nf'
	nextflowVersion = '>=19.10.0'
	version = '0.0.1'
}

// Trace
dag {
    enabled = true
    file = 'trace/pipeline_dag.html'
}
trace {
  enabled = true
  file = "trace/execution_trace.txt"
}
timeline {
  enabled = true
  file = "trace/execution_timeline.html"
}
report {
  enabled = true
  file = "trace/execution_report.html"
}
