profiles {
    standard {
        process.executor = 'local'
    }

    slurm {
        process.executor = 'slurm'
    }

    test {
	params {
		input = 'examples/input.csv'
		gtf = 'examples/Homo_sapiens.GRCh38.chr18.104.gtf'
		fa = 'examples/Homo_sapiens.GRCh38.dna.chromosome.18.fa'
		readCount = 3
	}
    }
}
